<!DOCTYPE html>
<html>
<head>
	<title>demo</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div class="can">
		shjkh\bsjgjhg\fdgsghashjgj\a
	</div>
	<div class="holder hov" style="width: 400px;height: 300px;">
        <img src="images/anony.jpg" alt="Web Tutorial Plus - Demo" style="width:400px;height: 300px;">
        <div class="go-top">
            Image Description
            <p>
                This is the description of this image. You may use hyperlinks also. Web Tutorial Plus
                offers free tutorial on website building and design. It also offers the tutorial on
                advanced excel. You also get 'best designed websites' on weekly basis for inspiration.
            </p>
        </div>
    </div>



</body>
</html>