{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1 style="text-align: center;">Checkout</h1>
		<hr>
		<div class="row">
			<div class="col">
	<div class="table-responsive">
		{% if obj %}

	<table class="table table-striped table-sm">
		<h3>Veg Starter</h3>
		<hr>
		<thead>
			<tr>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
	</tr>
		</thead>
		<tbody>
		{% for i in obj %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
	</table>
     </div>

     <br>

    <div class="table-responsive">
    	{% if obj1 %}

	<table class="table table-striped table-sm">
		<h3>Veg Maincourse</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj1 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>
     <br>

     <div class="table-responsive">
     	{% if obj2 %}

	<table class="table-striped table-sm table">
		<h3>Non-Veg Starter</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
	</thead>
		
		{% for i in obj2 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>
     <br>
     <div class="table-responsive">
     	{% if obj3 %}

	<table class="table table-striped table-sm">
		<h3>Non-Veg Maincourse</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj3 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>
     <div class="table-responsive">
     	{% if obj4 %}

	<table class="table table-striped table-sm">
		<h3>Beverages</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
	</thead>
		
		{% for i in obj4 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>
 

 <br>
     <div class="table-responsive">
     	{% if obj5 %}

	<table class="table table-striped table-sm">
		<h3>Vodka</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj5 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>

     <br>
     <div class="table-responsive">
     	{% if obj6 %}

	<table class="table table-striped table-sm">
		<h3>Red Wine</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj6 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>

     <br>
     <div class="table-responsive">
     	{% if obj7 %}

	<table class="table table-striped table-sm">
		<h3>Veg Chinese</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj7 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>


     <br>
     <div class="table-responsive">
     	{% if obj8 %}

	<table class="table table-striped table-sm">
		<h3>Non-Veg Chinese</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj8 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>

     <br>
     <div class="table-responsive">
     	{% if obj9 %}

	<table class="table table-striped table-sm">
		<h3>wine</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj9 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>

     <br>
     <div class="table-responsive">
     	{% if obj10 %}

	<table class="table table-striped table-sm">
		<h3>Beer</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj10 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>

     <br>
     <div class="table-responsive">
     	{% if obj11 %}

	<table class="table table-striped table-sm">
		<h3>Pizza</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj11 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>

     <br>
     <div class="table-responsive">
     	{% if obj12 %}

	<table class="table table-striped table-sm">
		<h3>Burger</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj12 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>

      <br>
     <div class="table-responsive">
     	{% if obj13 %}

	<table class="table table-striped table-sm">
		<h3>dessert</h3>
		<hr>
		<thead>
		<th>Item Id</th>
		<th>Item</th>
		<th>Price</th>
		</thead>
		{% for i in obj13 %}
		<tr>
			
			<td>{{i.menu_id}}</td>
			<td>
				
				<a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">{{i.item}}</a>
			</td>
			<td style="margin-left: 100px">{{i.price}}</td>
			<td><button><a href="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">Add</a></button></td>
		
		</tr>
		{% endfor %}
		{% endif %}
	</table>
     </div>
 </div>



 <div class="col">
     <div>
     	<h1>Your Cart</h1>
     	{% if ob %}
     	<table>
     		{% for i in ob %}
     		<tr>
     			<td>{{i.item_name}}</td>
     			<td style="padding-left: 50px;">{{i.price}}</td>
     			<td style="padding-left: 50px;">
     			    <form action="{% url 'reservations:cart' itemid=i.menu_id slug=slug %}">
     			    	<button type="submit">+</button>
     			    	<input type="number" id="incr" name="increase"  value="{{i.quantity}}" style="width: 25px">
     			    	<button  type="submit" onclick="myFunction1()">-</button>
     			    	
     			    </form>
     			</td>
     			<td style="padding-left: 10px;">
     				<a href="{% url 'reservations:cartitem_delete' item_id=i.menu_id ord_slug=slug %}"><img src="{% static 'cross.png' %}" style="height: 10px;width: 10px;"></a>
     			</td>
     		</tr>
     		{% endfor %}
     		<br>
     	</table>
     	<br>
     	<div>
     		<button><a href="{% url 'reservations:checkout' sl=slug %}">Proceed to checkout</a></button>
     	</div>
     	{% endif %}
     </div>
 </div>
</div>
</div>
     <br>
     <br>

     


     <script type="text/javascript">
     	function myFunction() {
     		document.getElementById("checkbox").checked = true;
     	}

     	function myFunction1() {
     		//var x=document.getElementById("dec").name;
     		document.getElementById("incr").name="decrease";
     	}

     	function myFunction2() {
     		//var x=document.getElementById("dec").name;
     		document.getElementById("incr").name="increase";
     	}
     	
     </script>

</body>
</html>